@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GveretLevin";
  src: url("/fonts/GveretLevin.woff2") format("woff2"),
    url("/fonts/GveretLevin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yarden";
  src: url("/fonts/yarden-regular-alefalefalef.woff2") format("woff2"),
    url("/fonts/yarden-regular-alefalefalef.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yarden";
  src: url("/fonts/yarden-bold-alefalefalef.woff2") format("woff2"),
    url("/fonts/yarden-bold-alefalefalef.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --main-color: #2d3748;
  --accent-color: #4299e1;
  --paper-color: #ffffff;
  --text-color: #1a202c;
  --light-gray: #edf2f7;
}

body {
  /* font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
  color: var(--text-color);
  direction: rtl;
}

@layer utilities {
  ul {
    @apply list-disc pr-5;
  }
  ol {
    @apply list-decimal pr-5;
  }
}

/* We can keep some custom animations that aren't easily done with Tailwind */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
